
/* --- Centralisation du contenu de la page --- */
body
{    
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* --- Travail sur le Header --- */

header
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D92950;    
    padding: 8px 16px;
    margin-right: 20%;
    height: 84px;  
    width: 100vw;  
    font-family: 'robotoregular', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color:rgb(255, 255, 255);
}

header img
{
    border-style: none;
    width: 100px;
    height: 84px;
}

nav
{
    flex-basis: 500px;
    display: flex;
    margin-right: 30px;

}

ul
{
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   height: 24px;
   width: 442.29px;   
}
/* --- Traitement des liens --- */
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover
{
    border-bottom: 2px solid;
    outline: none;
    border-color: rgb(255, 0, 0);
}

a:focus
{
    border-bottom: 2px solid;
    outline: none;
    border-color: rgb(255, 0, 0)
}

li:nth-of-type(1)
{
    border-bottom: 2px solid;
    outline: none;
    border-color: rgb(255, 0, 0)
}

/* --- fin Header --- */

/* --- Main --- */

main
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* --- section 1 --- */
section:nth-of-type(1)
{
    
    padding-bottom: 20vh;  
    padding-top: 20vh;  
    background: url("images/hero-background.jpg") top no-repeat;    
    background-size:cover;
    
}

.sp-contenaire
{
    
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}



.md-1-contenaire
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bs-1-contenaire
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
    
}
.titre1
{    
    
    font-family: 'Montserrat', sans-serif;
    font-size: 74.205px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    line-height: 100.846px;
    text-transform: uppercase !important;
    
}

.titre1 span
{
    color: #ffe64d;
}
.bs-2-contenaire
{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
}

.bs-2-contenaire button
{    
    width: 270px;
    padding: 15px 25px;
    margin: 24px 8px 0px;
    background: #fff;
    color: #d92950;   
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    border:  #fff 2px solid;    
    border-radius: 15px;
    cursor: pointer;
}

.bs-2-contenaire button:hover
{
    background:#d92950;
    color:  #fff;  
    border:  #fff 2px solid;
}

.md-1-contenaire p
{
    width: 800px;
    height: 38px;
    margin: 24px 185px 0px;    
    color: #fff; 
    text-align: center;  
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif;
}

.md-2-contenaire
{
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.md-2-contenaire img
{
    height: 40px;
    width: 48.44px;
    opacity: 0.5;
}
/* --- fin section 1 --- */

/* --- Section 2 --- */
section:nth-of-type(2)
{   
    position: relative;     
    background-color: #f1f0f3;
    padding: 100px 30px;
}

.contenaire-sect-2
{
    display: flex;
    justify-content: space-between;
}
/*

Images

*/
.sp1-contenaire-sect-2
{
    padding: 40px 15px;
}

.sect-2-content-img
{
    flex-basis: 50%;
}

#img1
{
    position: relative;
    width: 505px;
    height: 379px;
    border-radius: 25px;
    left:-100px;
}

#img2
{
    position: relative;
    width: 337px;
    height: 252px;    
    border-radius: 25px;
    margin-top: -200px;
    margin-left: 160px;
}


.sp2-contenaire-sect-2
{
    padding: 0px 15px;
}

.sp2-contenaire-sect-2 h1
{
    margin: O 0 30px;
    color: #424345;
    font: 40px  Montserrat,sans-serif;
    font-weight: 600;
}

.grid
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 30px;
    
    margin: 0px 0px 8px;
    color: #424345;
    text-align: center;
    
}

.grid h5
{
    font-size: 20px;
    font-weight: 600;
    font: 20px Montserrat, sans-serif;
}

.grid img
{
    width: 50px;
    height: 62px;
}
 
/* -- fin section 2 -- */

/* -- debut section 3 -- */
section:nth-of-type(3)
{
    flex-basis: 100px;
    background-color:  #D92950;
}