
/* --- Centralisation du contenu de la page --- */
body
{    
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* --- Travail sur le Header --- */

header
{
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D92950;    
    padding: 8px 16px;
    margin-right: 20%;
    height: 84px;  
    width: 100vw;  
    font-family: 'robotoregular', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color:rgb(255, 255, 255);
}

header img
{
    border-style: none;
    width: 100px;
    height: 84px;
}

nav
{
    flex-basis: 500px;
    display: flex;
    margin-right: 30px;

}

ul
{
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   height: 24px;
   width: 442.29px;   
}
/* --- Traitement des liens --- */
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover
{
    border-bottom: 2px solid;
    outline: none;
    border-color: rgb(255, 0, 0);
}

a:focus
{
    border-bottom: 2px solid;
    outline: none;
    border-color: rgb(255, 0, 0)
}

header li:nth-of-type(1)
{
    border-bottom: 2px solid;
    outline: none;
    border-color: rgb(255, 0, 0)
}

/* --- fin Header --- */

/* --- Main --- */

main
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* --- section 1 --- */
section:nth-of-type(1)
{
    
    padding-bottom: 20vh;  
    padding-top: 20vh;  
    background: url("images/hero-background.jpg") top no-repeat;    
    background-size:cover;
    
}

.sp-contenaire
{
    
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}



.md-1-contenaire
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bs-1-contenaire
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
    
}
.titre1
{    
    
    font-family: 'Montserrat', sans-serif;
    font-size: 74.205px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    line-height: 100.846px;
    text-transform: uppercase !important;
    
}

.titre1 span
{
    color: #ffe64d;
}
.bs-2-contenaire
{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
}

.bs-2-contenaire button
{    
    width: 270px;
    padding: 15px 25px;
    margin: 24px 8px 0px;
    background: #fff;
    color: #d92950;   
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    border:  #fff 2px solid;    
    border-radius: 15px;
    cursor: pointer;
}

.bs-2-contenaire button:hover
{
    background:#d92950;
    color:  #fff;  
    border:  #fff 2px solid;
}

.md-1-contenaire p
{
    width: 800px;
    height: 38px;
    margin: 24px 185px 0px;    
    color: #fff; 
    text-align: center;  
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif;
}

.md-2-contenaire
{
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.md-2-contenaire img
{
    height: 40px;
    width: 48.44px;
    opacity: 0.5;
}
/* --- fin section 1 --- */

/* --- Section 2 --- */
section:nth-of-type(2)
{   
    position: relative;     
    background-color: #f1f0f3;
    padding: 100px 30px;
}

.contenaire-sect-2
{
    display: flex;
    justify-content: space-between;
}
/*

Images

*/
.sp1-contenaire-sect-2
{
    padding: 40px 15px;
}

.sect-2-content-img
{
    flex-basis: 50%;
}

#img1
{
    position: relative;
    width: 505px;
    height: 379px;
    border-radius: 25px;
    left:-100px;
}

#img2
{
    position: relative;
    width: 337px;
    height: 252px;    
    border-radius: 25px;
    margin-top: -200px;
    margin-left: 160px;
}


.sp2-contenaire-sect-2
{
    padding: 0px 15px;
}

.sp2-contenaire-sect-2 h1
{
    margin: O 0 30px;
    color: #424345;
    font: 40px  Montserrat,sans-serif;
    font-weight: 600;
}

.grid
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 30px;
    
    margin: 0px 0px 8px;
    color: #424345;
    text-align: center;
    
}

.grid h5
{
    font-size: 20px;
    font-weight: 600;
    font: 20px Montserrat, sans-serif;
}

.grid img
{
    width: 50px;
    height: 62px;
}
 
/* -- fin section 2 -- */

/* -- debut section 3 -- */
section:nth-of-type(3)
{
    padding: 100px 0px;
    background-color:  #D92950;
    
}

.contenaire-sect-3
{
    /* Propriété utilisé aussi dans la section 5*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% ;
}

.content-h1
{
    /* Propriété utilisé aussi dans la section 5*/
    flex-grow: 1;
}

.content-carousel
{
    /* Propriété utilisé aussi dans la section 5*/
    flex-grow: 2;
}

.content-h1 h1, section:nth-of-type(5) h1
{
    font: 40px Montserrat, sans-serif;
    margin: 0px 0px 50px;
    font-weight: 600;
    color: #fff;
}

.carousel-items
{
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50vh;
    scroll-snap-type: x mandatory;
}

.carousel-item
{
    padding: 20px;       
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 250px;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #D92950;
}

::-webkit-scrollbar {
    height: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    border-radius: 3px;
}

#facebook
{
    width: 155px;
    height: 32px;
}

#orange
{
    width: 80px;
    height: 80px;
}

#deloitte
{
    width: 160px;
    height: 30px;
}

#ey
{
    width: 138px;
    height: 79px;
}

#gsma
{
    width: 152px;
    height: 79px;
}

#digitalafri
{
    width: 160px;
    height: 76px;
}

#france
{
    width: 160px;
    height: 75px;
}

#minSante
{
    width: 160px;
    height: 80px;
}

#texaf
{
    width: 72px;
    height: 79px;
}

#twb
{
    width: 138px;
    height: 79px;
}

#banquemondiale
{
    width: 155px;
    height: 32px;
}

#theeconomist
{
    width: 160px;
    height: 49px;
}

/* -- fin section 3 -- */

/* -- section 4 -- */

section:nth-of-type(4)
{
    padding: 100px 0px;
    background-color:  #f1f0f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4
{ 
    flex-basis: 570px;
    
}
.sect4-cont
{
    width: 100%;
}

.contenaire-sect-4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sect-4-cont2
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 20px;
    height: 100%;
}

.contenaire-titre
{
    /* aussi sur la section 6 */
    width: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contenaire-titre h1
{
    font: 40px Montserrat,sans-serif;
    font-weight: 600;
    margin: 0px 0px 50px;
    color: #424345;
}
.sect4-Contenu{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-realiserProjet
{
    padding: 20px;
    background-color: #FFFFFF;
    border-top: #ffe64d solid 10px;    
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;   
    
}
.content-IntegrerEquipe
{
    padding: 20px;
    background-color: #FFFFFF;
    border-top: #D92950 solid 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.sect4-Contenu h3 
{
    color: #D92950 ;
    font: 28px Montserrat, sans-serif;
    margin: 0px 0px 12px;
    font-weight: 800;  
    text-align: center;  
} 

.sect4-Contenu p
{
    font: 16px Montserrat, sans-serif;
    margin: 0px 0px 16px;
    text-align: center;
}

.sect4-Contenu button
{
       
    background: #D92950;
    color: #FFFFFF;   
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    margin: 24px 0px 0px;
    padding: 15px 25px;
    border:  #D92950 2px solid;    
    border-radius: 15px;
    cursor: pointer;
}

.sect4-Contenu button:hover
{
       
    background: #FFFFFF;
    color: #D92950;   
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    margin: 24px 0px 0px;
    padding: 15px 25px;
    border:  #D92950 2px solid;    
    border-radius: 15px;
    cursor: pointer;
}

/* -- fin section 4 -- */

/* -- section 5 -- */
section:nth-of-type(5)
{
    padding: 100px 0px;
    background-color: #D92950;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-carousel-sect-5
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bloc-carousel
{
    width: 100%;
}

.sous-contenu-sect-5
{  
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    height: 120%;
}

.imageWork img
{
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

.Text-s-img
{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font: 10px Roboto, sans-serif;
    font-weight: 200;
    width: 80%;
    margin-left: -70px;
}

.Text-s-img img
{
    width: 16.31px;
    height: 16.31px;
    padding-left: 4px;
}

.Text-s-img p:nth-of-type(2)
{
    background-color: #FFF;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Text-s-img span
{
    font: 11px Roboto;
    padding: 3px 10px 3px 17px;
    color: #D92950;
}

.footer
{
    width: 80%;
}

.footer-img
{
    background-color: #ED0058;
    padding: 2px 10px;
    color: #FFF;
    font: 11.2px 'Ubuntu Mono',Monospace;
    padding: 5px;
    height: 26px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -39px;

}

.footer-img p
{
    margin-left: 3px;
}

.footer-img img
{
    width: 11.19px;
    height: 11.19px;
}

/* section 6 */
section:nth-of-type(6)
{
    padding: 100px 0px;
    background-color:  #FFF;
    width: 100vw;
}

section:nth-of-type(6) h1
{
    font-style: normal;
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em
}

#bloc-sec-5
{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 50px
}

.tableau
{
    margin: 0px 25px;
}

#tab1
{
    width: 45vw;
}
#tab1 h3, #tab2 h3

{
    color:#fff;
    font-size: 2em;
    margin-left: 20px;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
}

#tab1-header{
    height: 70px;
    background: #D92950 ;
    display: flex;
    align-items: center;
}
#tab1-body{
    padding-top: 40px;
    padding-bottom: 50px;
    background: #F1F0F3;
    border-radius: 0 0 20px 20px;
    opacity: 0.7;
}
.logos
{
    display: flex;
    justify-content: space-around;
}

#tab2{
    width: 30vw;    
    border-radius: 0 0 20px 20px;
}

#tab2-header
{
    height: 70px;
    background: #341F41 ;
    display: flex;
    align-items: center;
    
}
#tab2 h3

{
    color:#fff;
    font-size: 2em;
    margin-left: 20px;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
}

#tab2-body{
    padding: 40px 30px; 
    padding-bottom: 50px ;
    font-family: "Ubuntu Mono", monospace;
    background: #F1F0F3;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0 0 20px 20px;
}
#tab2-body ol{
    line-height: 2em;
    list-style-position: inside;
    background: #DFDEE1;
    border-radius: 20px;
}
#tab2-texte{
    
    padding: 50px 35px;
    padding-bottom: 60px ;
    border-radius: 10px;

}

/* -- fin section 6 -- */

/* -- debut section 7 -- */

section:nth-of-type(7)
{
    padding: 100px 0px;
    background-color: #AE3753;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cont-header-7
{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-titre h1
{
    font: 40px Montserrat, sans-serif;
    margin: 0px 0px 50px;
    font-weight: 600;
    color: #fff;
}

.cont-body-7
{
    flex-grow: 2;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#f1f0f3
}

.box-img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img img
{
    height: 34px;
    width: 40px;
}

.box
{
    border: 1px solid #FFF;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}




