#first-section
{
    padding: 100px 30px !important;
    background-color: #f1f0f3 !important;  
    width: 100vw !important;  
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}